<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="">
    Login: <input type="text" [(ngModel)]="templogin" name="templogin"><br>
    Password: <input type="text" [(ngModel)]="temppwd" name="temppwd"><br><br>
    <button (click)="loginatt()"> LogIn </button>
    <button (click)="createacc()"> Create Account </button>

    </form>
<br><br>
<!-- do testowania wypisuje konta,
może sie to usunie -->
loginy: 
    <ol>
        <li *ngFor="let zm1 of log.login">
        {{zm1}}
        </li>
    </ol><br>
hasła: 
    <ol>
        <li *ngFor="let zm2 of log.pwd" >
        {{zm2}}
        </li>
    </ol>